.wp-block-elf02-swiper-slider {
	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
		grid-auto-flow: column;
		grid-auto-columns: minmax(160px, 1fr);
		overflow-x: auto;
	}

	&:where(.is-selected, .has-child-selected) {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			grid-template-columns: 1fr 1fr;
			grid-auto-flow: row;
			grid-auto-columns: auto;
			overflow-x: visible;
		}
	}

	.block-editor-block-list__layout > :is(*, .editor-styles-wrapper div) {
		margin: 0;
	}
}
